.app-shell {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #f4f5f7;
}

.app-body {
  flex: 1;
  display: flex;
  margin-top: 72px;
}

.app-content {
  flex: 1;
  margin-left: 250px;
  padding: var(--space-6) var(--space-6) 68px var(--content-gutter);
  background: #f4f5f7;
  min-height: calc(100vh - 72px - 40px);
}
