token.txt
*.txt
token.txt
*.txt

# Archivos de construcción
target/
dist/
node_modules/

# Datos persistentes de la base de datos (IMPORTANTE)
db-data/
postgres_data/

# IDEs y entorno
.idea/
.vscode/
*.swp

# Archivos de sistema de Docker
.docker/

# Archivos de construcion de Latex
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fdb_latexmk
*.fls
*.nav
*.snm
*.vrb
*.lof
*.lot
*.bbl
*.blg
*.brf
*.run.xml
*.bcf
*.blg
*.run.xml
