<footer class="bg-ipn-maroon text-white text-center py-6 text-xs flex-shrink-0">
  <p>© {{ currentYear }} - Todos los derechos reservados.</p>
  <div class="flex justify-center gap-4 mt-2 flex-wrap">
    <a
      href="http://www.ipn.mx/assets/files/defensoria/docs/avisos/ddp-aviso-privacidad-simplificado.pdf"
      target="_blank"
      rel="noopener noreferrer"
      class="hover:underline"
      >Aviso de Privacidad Simplificado</a
    >
    <a
      href="http://www.ipn.mx/assets/files/defensoria/docs/avisos/ddp-aviso-privacidad-integral.pdf"
      target="_blank"
      rel="noopener noreferrer"
      class="hover:underline"
      >Aviso de Privacidad Integral</a
    >
    <a
      href="https://www.ipn.mx/defensoria/normatividad.html"
      target="_blank"
      rel="noopener noreferrer"
      class="hover:underline"
      >Marco Normativo</a
    >
    <a
      href="https://www.ipn.mx/assets/files/imageninstitucional/docs/gaceta-extraordinaria/2006/01/622-31-enero-gaceta-extra-.pdf"
      target="_blank"
      rel="noopener noreferrer"
      class="hover:underline"
      >Acuerdo de Creación</a
    >
  </div>
</footer>
